.banner {
    width: 1900px;
    border: 2px solid black;
}

#banner {}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.main a {
    display: flex;
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}