.special {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.special a {
    display: flex;
    color: rgb(51, 51, 51);
    font-size: 28px;
    line-height: 1.15;
    letter-spacing: -0.26px;
    font-weight: 500;
}


.product-container {
    width: 1050px;
    position: relative;
}

ul {
    display: flex;
    flex-direction: row;
}

.next-button {
    position: absolute;
    border: 0px;
    outline: 0px;
    width: 60px;
    height: 60px;
    background: url('../../public/next-icon.svg') 50% 50% no-repeat;
    /* transition: background 0.5s ease 0s; */
    top: 160px;
    right: 0px;
    transform: translate(50%, -50%) rotate(180deg);
}